<a href="https://colab.research.google.com/github/JYOTSANAPARKHEDKAR266/30DaysofPython/blob/main/Day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
#Check the python version you are using
!python --version

Python 3.11.13

In [8]:
"""Open the python interactive shell and do the following operations. The operands are 3 and 4.
addition(+)
subtraction(-)
multiplication(*)
modulus(%)
division(/)
exponential(**)
floor division operator(//)"""

a = 3
b = 4

print("Addition", a+b)
print("Subtraction", a-b)
print("Multiplication",a*b)
print("Modulus",a%b)
print("Divison",a/b)
print("Exponential", a**b)
print("Floor Division", a//b)

Addition 7
Subtraction -1
Multiplication 12
Modulus 3
Divison 0.75
Exponential 81
Floor Division 0

In [10]:
'''Write strings on the python interactive shell. The strings are the following:
Your name
Your family name
Your country
I am enjoying 30 days of python'''

your_name = "Jyotsana"
print(your_name)
print(type(your_name))

last_name = "Parkhedkar"
print(last_name)
print(type(last_name))

country = "USA"
print(country)

print("I am enjoying 30 days of python")

Jyotsana
<class 'str'>
Parkhedkar
<class 'str'>
USA
I am enjoying 30 days of python

In [11]:
'''Check the data types of the following data:
10
9.8
3.14
4 - 4j
['Asabeneh', 'Python', 'Finland']
Your name
Your family name
Your country'''

print(type(10))
print(type(9.8))
print(type(3.14))
print(type(4-4j))
print(type(['Asabeneh', 'Python', 'Finland']))
print(type(your_name))
print(type(last_name))
print(type(country))

<class 'int'>
<class 'float'>
<class 'float'>
<class 'complex'>
<class 'list'>
<class 'str'>
<class 'str'>
<class 'str'>

In [16]:
#Write an example for different Python data types such as Number(Integer, Float, Complex), String, Boolean, List, Tuple, Set and Dictionary.

c = 161399
d = 7.897
e = 5 + 8j
s = "Jyotsana Parkhedkar"
is_empty = False
is_true = bool(1)
list1 = [1,2,3,4,5]
tuple = (10, 20,30)
set = {a,b,c,40,50}
dict = {"name":"Jyotsana","last_name":"Parkhedkar"}

print(type(c))
print(type(d))
print(type(e))
print(type(s))
print(type(is_empty))
print(type(is_true))
print(type(list1))
print(type(tuple))
print(type(set))
print(type(dict))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'bool'>
<class 'bool'>
<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>

In [19]:
#Find an Euclidian distance between (2, 3) and (10, 8)

import math
from math import sqrt
x1,y1 = 2,3
x2,y2 = 10,8

dist = (x2 - x1) ** 2 + (y2 - y1) ** 2
print(dist)

print("Eucliean Distance = ", sqrt(dist))

89
Eucliean Distance =  9.433981132056603