<a href="https://colab.research.google.com/github/JYOTSANAPARKHEDKAR266/30DaysofPython/blob/main/Day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Write a python comment saying 'Day 2: 30 Days of python programming'

#Day 2: 30 Days of python programming

In [2]:
'''Declare a first name variable and assign a value to it
Declare a last name variable and assign a value to it
Declare a full name variable and assign a value to it
Declare a country variable and assign a value to it
Declare a city variable and assign a value to it
Declare an age variable and assign a value to it
Declare a year variable and assign a value to it'''

first_name = "Jyotsana"
full_name = "Jyotsana Parkhedkar"
country = "India"
city = "New York"
age = 100
year = 2025

In [1]:
'''Declare a variable is_married and assign a value to it
Declare a variable is_true and assign a value to it
Declare a variable is_light_on and assign a value to it
Declare multiple variable on one line'''

is_married = bool("No")
is_true = bool("yes")
is_light_on = True

a , b, c = 2, 3, 4

In [4]:
#Check the data type of all your variables using type() built-in function

first_name = "Jyotsana"
full_name = "Jyotsana Parkhedkar"
country = "India"
city = "New York"
age = 100
year = 2025

is_married = bool("No")
is_true = bool("yes")
is_light_on = True

print(type(first_name))
print(type(full_name))
print(type(country))
print(type(city))
print(type(age))
print(type(year))

print(type(is_married))
print(type(is_true))
print(type(is_light_on))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'int'>
<class 'int'>
<class 'bool'>
<class 'bool'>
<class 'bool'>

In [5]:
#Using the len() built-in function, find the length of your first name
print(len(first_name))

8

In [15]:
#Compare the length of your first name and your last name
first_name = "Jyotsana"
last_name = "Parkhedkar"
f = len(first_name)
l = len(last_name)

print(f)
print(l)

if f > l:
  print("Length of first name is greater")
elif l > f:
  print("Length of last name is greater")
else:
  print("Both are of same length")

8
10
Length of last name is greater

In [17]:
'''Declare 5 as num_one and 4 as num_two
Add num_one and num_two and assign the value to a variable total
Subtract num_two from num_one and assign the value to a variable diff
Multiply num_two and num_one and assign the value to a variable product
Divide num_one by num_two and assign the value to a variable division
Use modulus division to find num_two divided by num_one and assign the value to a variable remainder
Calculate num_one to the power of num_two and assign the value to a variable exp
Find floor division of num_one by num_two and assign the value to a variable floor_division'''

num_one = 5
num_two = 4

total = num_one + num_two
print("Addition:", total)

diff = num_one - num_two
print("Subtraction:", diff)

product = num_one * num_two
print("Multiplication:", product)

division = num_one / num_two
print("Division:",division)

remainder = num_one % num_two
print("Modulus:", remainder)

exp = num_one ** num_two
print("Power:", exp)

floor_division = num_one // num_two
print("Floor Division:", floor_division)

Addition: 9
Subtraction: 1
Multiplication: 20
Division: 1.25
Modulus: 1
Power: 625
Floor Division: 1

In [23]:
'''The radius of a circle is 30 meters.
Calculate the area of a circle and assign the value to a variable name of area_of_circle
Calculate the circumference of a circle and assign the value to a variable name of circum_of_circle
Take radius as user input and calculate the area.'''

pi = 3.14

radius = int(input("Radius of the circle :"))

area_of_circle = pi * (radius ** 2)
print("Area of the circle with", radius, "is" , area_of_circle)

circum_of_circle = 2 * pi * radius
print("Circumference of the circle with", radius, "is" , circum_of_circle)

Radius of the circle :4
Area of the circle with 4 is 50.24
Circumference of the circle with 4 is 25.12

In [24]:
#Use the built-in input function to get first name, last name, country and age from a user and store the value to their corresponding variable names
first_name = input("Your first name:")
last_name = input("Your last name:")
country = input("Your country:")
age = input("Your age:")

Your first name:Jyotsana
Your last name:Parkhedkar
Your country:India
Your age:100

In [25]:
#Run help('keywords') in Python shell or in your file to check for the Python reserved words or keywords
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not